{% extends "ModuleTask/base.html" %}

{%block title%}

<!-- Icons -->





    <h2 class="text-center" style="color:indianred">Module Management</h2>
{%endblock title%}

{%block content%}

<div class="card" style="margin-bottom: 0">



    <ol class="breadcrumb ml-auto mb-auto mr-auto mt-auto" id="breadcrumb_nav">


      <div class="btn-group m-auto" role="group" aria-label="Button group">

          <a class="btn" href="{%url 'ModuleCreate'%}" id="newItem">
              <i class="icon-docs"></i> Add
          </a>
          <a class="btn" href="#" id="editItem">
              <i class="icon-docs"></i> Add or Edit By Month
          </a>
          <a class="btn" href="#" id="saveItem">
              <i class="icon-drawer"></i> Save
          </a>
          <a class="btn" href="#" id="reloadItem">
              <i class="icon-refresh"></i> Reload
          </a>
          <a class="btn" href="#" id="deleteItem">
              <i class="icon-trash"></i> Delete
          </a>
          <a class="btn" href="#" id="printItem">
              <i class="icon-printer"></i> Print
          </a>
          <a class="btn" href="#" id="reportItem">
              <i class="icon-doc"></i> Report
          </a>
          <a class="btn" href="#" id="dashboardItem">
              <i class="icon-graph"></i>  Dashboard
          </a>
      </div>
    </ol>

    <div class="table-responsive-sm">

        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0">
            <thead class="bg-blue" style="color:white">
                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col"> Delete</th>
                    <th scope="col">Code</th>
                    <th scope="col">Module Name</th>
                    <th scope="col">Order</th>
                </tr>
            </thead>
            <tbody>

              {%for md in mdls%}
                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    onclick="location.href='{%url 'ModuleView' md.id %}'"
                                    >
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>
                        <td>
                          <button type="button"
                                  class="btn btn-light"
                                  data-toggle="tooltip"
                                  data-placement="bottom"
                                  title="Edit"
                                  onclick="location.href='{%url 'ModuleEdit' md.id %}'"
                                  >
                              <i class="icon-notebook">
                              </i>
                          </button>
                        </td>
                        <td>
                            <button type="submit"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Delete">
                                <i class="icon-trash">
                                </i>
                            </button>
                        </td>
                        <td>{{md.code}}</td>
                        <td>{{md.name}}</td>
                        <td>{{md.order}}</td>
                    </tr>
                {%endfor%}


            </tbody>
        </table>
    </div>
</div>



<!-- Custom scripts required by this view -->
<!-- <script src="~/Content/js/views/main.js"></script>  -->


{%endblock content%}
