{% extends "ModuleTask/base.html" %}

{%block title%}

<!-- Icons -->





    <h2 class="text-center" style="color:indianred">New Role Creation</h2>
{%endblock title%}

{%block content%}

<div class="card" style="margin-bottom: 0">



    <ol class="breadcrumb ml-auto mb-auto mr-auto mt-auto" id="breadcrumb_nav">


      <div class="btn-group m-auto" role="group" aria-label="Button group">

          <a class="btn" href="#" id="newItem">
              <i class="icon-docs"></i> Add
          </a>
          <a class="btn" href="#" id="editItem">
              <i class="icon-docs"></i> Add or Edit By Month
          </a>
          <a class="btn" href="#" id="saveItem">
              <i class="icon-drawer"></i> Save
          </a>
          <a class="btn" href="#" id="reloadItem">
              <i class="icon-refresh"></i> Reload
          </a>
          <a class="btn" href="#" id="deleteItem">
              <i class="icon-trash"></i> Delete
          </a>
          <a class="btn" href="#" id="printItem">
              <i class="icon-printer"></i> Print
          </a>
          <a class="btn" href="#" id="reportItem">
              <i class="icon-doc"></i> Report
          </a>
          <a class="btn" href="#" id="dashboardItem">
              <i class="icon-graph"></i>  Dashboard
          </a>
      </div>
    </ol>

    <div class="table-responsive-sm">

        <table id="dtBasicExample" data-pagination="true" class="table table-hover table-dark" style="margin-bottom: 0" >
            <thead class="bg-blue" style="color:white">
                <tr>
                    <th scope="col">View</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Role</th>
                    <th scope="col">Module Name</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">View</th>
                    <th scope="col">Add</th>
                    <th scope="col">Save</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Print</th>
                    <th scope="col">Cancel</th>
                    <th scope="col">Reset</th>
                    <th scope="col">Find</th>
                </tr>
            </thead>
            <tbody>
                {% for md in roles %}

                    <tr>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="View"
                                    >
                                <i class="icon-eye">
                                </i>
                            </button>
                        </td>
                        <td>
                            <button type="button"
                                    class="btn btn-light"
                                    data-toggle="tooltip"
                                    data-placement="bottom"
                                    title="Edit"
                                    >
                                <i class="icon-notebook">
                                </i>
                            </button>
                        </td>
                        <td>

                                <button type="submit"
                                        class="btn btn-light"
                                        data-toggle="tooltip"
                                        data-placement="bottom"
                                        title="Delete">
                                    <i class="icon-trash">
                                    </i>
                                </button>

                        </td>
                        <td>{{md.Role.name}}</td>
                        <td>{{md.Task.moduleName}}</td>
                        <td>{{md.Task.taskName}}</td>
                        {%if md.view_task %}

                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-view" checked disabled>
                                </div>
                            </td>

                        {%else%}

                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-view" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.add_task %}

                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-add" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-add" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.save_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-save" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-save" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.edit_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-edit" checked disabled>
                                </div>
                            </td>

                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-edit" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.delete_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-delete" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-delete" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.print_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-print" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-print" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.cancel_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-cancel" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-cancel" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.reset_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-reset" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-reset" disabled>
                                </div>
                            </td>
                        {%endif%}

                        {%if md.find_task%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-find" checked disabled>
                                </div>
                            </td>
                        {%else%}
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="task-find" disabled>
                                </div>
                            </td>
                        {%endif%}


                    </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>
</div>




    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

{%endblock content%}
